<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner-footer">
        <ul class="menu">
            <li>&copy; {{ .Site.Title }}. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>