<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Greenlight Partners is a new generation venture studio with a focus on the energy sector. 
        Our core objective is to partner with early stage CleanTech startups to build the green technology solutions of tomorrow." 
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" media="screen"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css" media="screen"/>
    </noscript>
</head>