<div class="wrapper">
    <section id="portfolio" class="wrapper style2-alt">
        <section>
            <div class="wrapper fade-up">
                <div class="inner">
                    <h2>Partners</h2>
                    <div class="split style2">
                        <section>
                            <ul class="contact">
                                <li><a href="https://devecitech.com/" target="_blank"><img alt="deveci" class="center" src="images/deveci.png"></img></a></li>
                            </ul>
                        </section>
                        <section>
                            <ul class="actions">
                                <li>
                                    <a href="https://devecitech.com/" target="_blank" class="image"><img alt="enlil" class="center" src="images/enlil.avif" alt=""
                                            data-position="center center" /></a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <h3>DEVECITECH (Enlil)</h3>
                    <p>
                        Enlil is the first vertical smart wind turbine. It has been designed to both harvests the energy from the natural wind,
                        as well as those created by passing vehicles.
                        <br><br>
                        Enlil has an integrated SMART system which enables to add modules such as tools to measure CO2 levels, data collection
                        through its IoT platform, traffic management systems, earthquake detection, connectivity for autonomous vehicles and a
                        built-in Wi-Fi station.
                    </p>

                    <ul class="actions">
                        <li><a href="https://devecitech.com/" class="button" target="_blank">Explore Devecitech</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</div>