<section id="team" class="wrapper style2">
    <section>
    <div class="wrapper fade-up">
        <div class="inner">
            
            <div class="row aln-center">
                <h1>Meet The Team</h1>
            </div>

            <!-- *** TESTIMONIALS CAROUSEL *** -->

            <div class="row aln-center">
                {{ range .Site.Data.team }}
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <a href="#" data-featherlight="#{{ .id }}"><img alt="{{ .name }}" id="{{ .name }}" src="{{.img}}"></a>
                        </div>
                        <h3 class="title">{{ .name }}</h3>
                        <span class="post">{{ .title }}</span>
                
                        <!--social icon-->
                        <ul class="social">
                            <li><a href="{{.linkedin}}" target="_blank" class="icon brands fa-linkedin-in 2x"><span class="label">LinkedIn</span></a></li>
                        </ul>

                        <div style="display:none;">
                            <div id="{{ .id }}">
                                <h3 class="title">{{ .name }}</h3>
                                <h3 class="title">{{ .title }}</h3>
                                <p>
                                    {{ .bio }}
                                </p>
                            </div>
                        </div>
                
                    </div>
                </div>
                {{ end }}
            </div>

            <div class="title row aln-center">
                <h1>Mentors</h1>
            </div>

            <div class="row aln-center">
                {{ range .Site.Data.mentors }}
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <a href="#" data-featherlight="#{{ .id }}"><img alt="{{ .name }}" id="{{ .name }}" src="{{.img}}"></a>
                        </div>
                        <h3 class="title">{{ .name }}</h3>
                        <span class="post">{{ .title }}</span>
                
                        <!--social icon-->
                        <ul class="social">
                            <li><a href="{{.linkedin}}" target="_blank" class="icon brands fa-linkedin-in 2x"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>

                        <div style="display:none;">
                            <div id="{{ .id }}">
                                <h3 class="title">{{ .name }}</h3>
                                <h3 class="title">{{ .title }}</h3>
                                <p>
                                    {{ .bio }}
                                </p>
                            </div>
                        </div>
                
                    </div>
                </div>
                {{ end }}
            </div>


        </div>
    </div>
    </section>
</section>
