<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	
	{{ partial "head.html" . }}

	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">

				<div class="inner">
					<nav>
						<ul>
							<a href="#intro" class="logo"><img alt="logo" class="logo center" src="/images/logo-white.png"></img></a>
							<li><a href="#about">About Us</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#team">Meet the Team</a></li>
							<li><a href="#portfolio">Partners</a></li>
							<li><a href="#contact">Become a Partner</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<div class="image"><img alt="logo" class="center" padding-bottom="100px" src={{ .Site.Params.Logo }}></img></div>
							<p>We help build <b>early stage</b> clean-tech startups through business development, capital and fundraising advisory.</p>
							<ul class="actions">
								<li><a href="#about" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="about" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/idea.avif" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Who We Are</h2>
									<p>
										Greenlight Partners is a new generation venture studio with a focus on the energy sector. Our core objective is to
										partner with early stage CleanTech startups to build the green technology solutions of tomorrow.
										<br><br>
										Employing our industry expertise and vast network of corporate and investor partners, we help entrepreneurs build their
										CleanTech businesses through business development and fundraising advisory.

									</p>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="services" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Services</h2>
							<div class="features">
								<section>
									<span class="icon solid major fa-rocket"></span>
									<h3>Go To Market Strategy</h3>
									<p>
										Perform a deep dive on operations and financials and provide a market research report which will
										aid in making data-driven business decisions.
									</p>
								</section>
								<section>
									<span class="icon solid major fa-chess"></span>
									<h3>Strategy Implementation</h3>
									<p>
										Design a roadmap for business development and fundraising strategy based on our assessment and identify the key
										parameters that will direct performance.
									</p>
								</section>
								<section>
									<span class="icon solid major fa-chart-line"></span>
									<h3>Presentation Advisory</h3>
									<p>
										Refine presentations and narrative to best communicate your story to an audience of investors, 
										board members, or potential customers.
									</p>
								</section>
								<section>
									<span class="icon solid major fa-search-dollar"></span>
									<h3>Locating Investment Partners</h3>
									<p>
										Through our capital consortium, we identify and target ideal investment partners that will help you grow your business. 
									</p>
								</section>
							</div>
							<!-- <ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul> -->
						</div>
					</section>

				{{ partial "team.html" . }}

				{{ partial "portfolio.html" . }}

				<!-- Three -->
					<section id="contact" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Let's Partner Up.</h2>
							<div class="split style1">
								<section>
									<p>We can help you build your cleantech startup. Let's fight the ecological crisis together.</p>
									<ul class="actions">
										<li><a href="mailto:eren@greenlightpartners.nyc" class="button submit">Send Message</a></li>
									</ul>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://www.linkedin.com/company/greenlight-partners-nyc/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
												<li><a href="mailto:eren@greenlightpartners.nyc" class="icon fas fa-envelope"><span
															class="label">Mail</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		{{ partial "footer.html" . }}

		{{ partial "scripts.html" . }}

	</body>
</html>